{% extends 'base.html' %}

{% block content %}

    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Posts</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Posts</th>
            <th>Author</th>
            <th>Created-date</th>
            <th>Published-date</th>
          </tr>
        </thead>
        <tbody>

        {% for p in object %}

             <tr>
              <td>
                {{ p.title }}
                <small class="text-muted d-block">{{ p.text }}</small>
              </td>
              <td class="align-middle">{{ p.author }}</td>
              <td class="align-middle">{{p.created_date}}</td>
              <td class="align-middle">{{p.published_date}}</td>
            </tr>
{% endfor %}

{% endblock %}